.portal-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 80px 0px;
}

.portal-child1,
.portal-child2 {
    max-width: 700px;
    padding: 0px 10px;
}

.portal-child1 img {
  width: 100%;
  height: auto;
}

.portal-child2 h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.portal-child2 h1 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
}

.portal-child2 p {
  padding-bottom: 20px;
  color: gray;
}
.portal-specs1,
.portal-specs2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portal-specs1 div,
.portal-specs2 div {
  width: 45%;
}

.portal-specs1 div img,
.portal-specs2 div img {
  width: 40px;
  height: auto;
  margin-right: 20px;
  float: left;
}

.portal-specs1 div p,
.portal-specs2 div p {
  overflow: hidden;
  color: gray;
}

.portal-specs1 div p span,
.portal-specs2 div p span {
  color: black;
  font-size: 20px;
  font-weight: 800;
}
