.home-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.home-child1, .home-child2{
    width: 500px;
    margin: 20px;
}

.home-child1 h1{
    font-size: 50px;
    font-weight: 800;
}

.h1-animation{
    font-size: 35px !important;
    color: green;
}

.home-child1 p{
    font-size: 22px;
    color: rgb(69, 69, 69);
    padding: 20px 0px;
}
.child1-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child1-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.child1-btn-container button{
    width: 180px;
    height: 50px;
    border-radius: 20px;
}

.home-btn1{
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.home-btn1:hover{
    cursor: pointer;
    background-color: rgb(31, 163, 31);
    transition: ease 0.5s;
}

.home-btn2{
    color: green;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid green;
    background-color: transparent;
}

.home-btn2:hover{
    cursor: pointer;
    color: rgb(31, 163, 31);
    border-color: rgb(31, 163, 31);
    transition: ease 0.5s;
}

.home-child1 img{
    width: 200px;
    height: 75px;
}

.home-child2 img{
    width: 100%;
    height: auto;
    margin: auto;
}

@media (max-width:450px) {
    .child1-image-container{
        flex-direction: column;
    }

    .child1-image-container img{
        width: 300px;
        margin-top: 20px;
    }
    .child1-btn-container{
        flex-direction: column;
        margin-top: 10px;
    }

    .child1-btn-container button{
        width: 300px;
        margin-top: 20px;
    }
    
}