* {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  color: black;
}

.navbar-logo {
  width: 150px;
}

.navbar-logo img {
  width: 100%;
  height: 50px;
}

.navbar-logo img:hover {
  cursor: pointer;
}
.navbar-list {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}

.list-style {
  text-decoration: none;
}

.navbar-list-item {
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(41, 160, 41);
}

.mobile-list-item{
  color: white;
}
.navbar-list-item:hover,
.mobile-menu-list li:hover {
  cursor: pointer;
  color: rgb(92, 91, 91);
  transition: ease-in-out 0.5s;
}

.portal {
  border: 1px solid rgb(41, 160, 41);
  color: rgb(41, 160, 41);
}

.portal:hover {
  order: 1px solid rgb(78, 175, 78) !important;
  color: rgb(78, 175, 78) !important;
}

.login {
  background-color: rgb(41, 160, 41);
  color: white;
}

.login:hover {
  background-color: rgb(78, 175, 78) !important;
  color: white !important;
}
.login,
.portal {
  padding: 15px 30px;
  border-radius: 20px;
}

.menu-login,
.menu-portal {
  max-width: 90%;
  text-align: center;
  padding: 15px 0px;
  border-radius: 20px;
}
.menu-portal {
  border: 1px solid white;
  color: white;
}

.menu-portal:hover {
  border-color: rgb(204, 204, 204) !important;
  color: rgb(204, 204, 204) !important;
}
.menu-login {
  background-color: white;
  color: rgb(41, 160, 41);
}
.menu-login:hover {
  border-color: rgb(204, 204, 204) !important;
  color: rgb(78, 175, 78) !important;
}
.toggle-btn {
  display: none;
}

.toggle-btn div {
  width: 30px;
  border: 2px solid rgb(41, 160, 41);
  margin-bottom: 2px;
}

.toggle-btn:hover {
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  left: 0;
  width: 250px;
  height: calc(100vh);
  background-color: rgb(41, 160, 41);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.mobile-menu.open {
  color: white;
  transform: translateX(0);
  opacity: 1;
}
.mobile-menu.close {
  transform: translateX(-100%);
  opacity: 0;
}

.mobile-menu-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  padding: 40px 0px 0px 20px;
}

.mobile-menu-list li {
  list-style: none;
}

@media (max-width: 1150px) {
  .navbar-list {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
}
