.course-container {
  background-color: #ffffff;
}
.course-info {
  max-width: 800px;
  margin: 40px 0px;
  margin: auto;
  padding: 20px;
}
.course-info > img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.course-info > h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.course-info > p {
  text-align: center;
  font-size: 22px;
  color: #717275;
}

.course-info > i {
  font-size: 30px;
  color: #43a724;
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 20px 0px;
}

.slider-container {
  padding: 40px 50px;
  margin: 0 auto;
  background-color: #43a724;
}

.course-card {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 10px 40px 10px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.course-card:hover{
  transform: scale(1.05);
}
.course-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.slick-dots li button::before {
  color: transparent;
  background-color: #43a724;
  border: 2px solid white;
  font-size: 12px;
  opacity: 1;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  content: "";
}

.slick-dots li.slick-active button::before {
  background-color: white;
  border-color: white;
  color: transparent;
}

.enroll-btn {
  background-color: #43a724;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: none;
  margin-top: 10px;
}

.enroll-btn:hover {
  cursor: pointer;
  background-color: #63ba49;
  transition: ease 0.5s;
}
