.slider-container {
  padding: 40px 50px;
  margin: 0 auto;
  background-color: green;
}

.course-card {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 10px;
}

.course-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.slick-dots li button::before {
  color: white;
  font-size: 12px;
  opacity: 1;
  padding: 0.5px;
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  color: green;
  background-color: white;
}

.enroll-btn {
  background-color: green;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: none;
  margin-top: 10px;
}

.enroll-btn:hover {
  cursor: pointer;
  background-color: rgb(38, 186, 38);
  transition: ease 0.5s;
}
