.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0px;
  background-color: #f6f5f5;
}

.footer-container div {
  width: 300px;
  margin-top: 20px;
}

.footer-img img {
  width: 100%;
}

.footer-img img:hover {
  cursor: pointer;
}

.footer-container h1 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer-container h5 {
  font-size: 16px;
  color: #43a724;
  padding: 5px 0px;
}

.footer-container h5:hover {
  cursor: pointer;
  color: #63ba49;
  transition: ease 0.5s;
  cursor: not-allowed;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.footer-icons i {
  font-size: 24px;
  background-color: #43a724;
  color: white;
  border-radius: 50%;
  padding: 10px;
}

.footer-container i:hover {
  cursor: pointer;
  background-color: #63ba49;
  transition: ease 0.5s;
}
